* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100dvw;
  height: 100dvh;
  background-color: #56f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.dropItem {
  width: 150px;
  height: 150px;
  background-color: white;
  overflow: hidden;
  text-align: center;
  border: 3px solid black;
}

.hold {
  border: 5px solid #ccc;
}

.image {
  height: 100%;
  width: 100%;
  background-image: url("./images/cloudy.jpg");
  background-size: cover;
  background-position: center;
}

.active {
  background-color: #333;
  border: 3px dashed #aaa;
}

.dragging {
  border: 3px solid #aaa;
}
